{% for expense in expenses %}
    <div class="list-group-item list-group-item-action">
        {% if expense.status == 'pago' %}
            <p class="circle-check mb-1">
                <i class="fa-solid fa-circle-check"></i>
                {{ expense.get_status_display }}
            </p>
        {% else %}
            <p class="circle-xmark mb-1">
                <i class="fa-solid fa-circle-xmark"></i>
                {{ expense.get_status_display }}
            </p>
        {% endif %}
        <div class="d-flex w-100 justify-content-between ">
            <h5 class="mb-1">{{ expense.name }}</h5>
            <small class="text-muted">{{ expense.date_and_hour|date:'d/m/Y' }} - {{ expense.date_and_hour|time:'h:i a' }}</small>
        </div>
        <p class="mb-1">Carteira: {{ expense.wallet }}</p>
        <p class="mb-1">R$ {{ expense.amount }}</p>
        <p class="mb-1">Categoria: {{ expense.category }}</p>
        <small class="text-muted">{{ expense.description }}</small>
        <a href="{% url 'update_expense' expense.id %}">
            <p class="mb-1">
                Alterar despesa
            </p>
        </a>
        <a href="{% url 'delete_expense' expense.id %}">
            <p class="mb-1">
                Deletar despesa
            </p>
        </a>
    </div>
{% endfor %}