{% extends 'finance_base.html' %}

{% block title %}
    Todas as categorias
{% endblock title %}

{% block content %}
    <h2 class="mb-5 mt-5">Todas as categorias</h2>
    <a href="{% url 'create_category' %}">
        <i class="fa-solid fa-circle-plus fa-2xl mb-5"></i>
        Criar categoria
    </a>
    <div class="wallets-container">
        {% for category in categories %}
            <div class="card m-1" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    {% comment %} <h6 class="card-subtitle mb-2 text-muted">{{ wallet.date|date:'d/m/Y' }}</h6> {% endcomment %}
                    {% comment %} <p class="card-text">R$ {{ wallet.ballance }}</p> {% endcomment %}
                    <a href="{% url 'update_category' category.id %}">
                        <p class="mb-1">
                            Alterar categoria
                        </p>
                    </a>
                    <a href="{% url 'delete_category' category.id %}">
                        <p class="mb-1">
                            Deletar categoria
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
